.header {
    background: #000;
    padding: .5rem 2.5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px 0 #808080;
    height: 5rem;
}

.liveWallet {
    color: #eee;
    margin-left: auto;

    span:last-of-type {
        color: #999;
        display: block;
        font-size: .6rem;
    }
}

.mood {
    font-size: 3rem;
    margin-left: 1rem;
}
